.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/www/v15/.suo
packages/Microsoft.Build.Tasks.Git.8.0.0/.signature.p7s
packages/Microsoft.Build.Tasks.Git.8.0.0/build/Microsoft.Build.Tasks.Git.props
packages/Microsoft.Build.Tasks.Git.8.0.0/build/Microsoft.Build.Tasks.Git.targets
packages/Microsoft.Build.Tasks.Git.8.0.0/buildMultiTargeting/Microsoft.Build.Tasks.Git.props
packages/Microsoft.Build.Tasks.Git.8.0.0/buildMultiTargeting/Microsoft.Build.Tasks.Git.targets
packages/Microsoft.Build.Tasks.Git.8.0.0/Icon.png
packages/Microsoft.Build.Tasks.Git.8.0.0/Microsoft.Build.Tasks.Git.8.0.0.nupkg
packages/Microsoft.Build.Tasks.Git.8.0.0/tools/core/cs/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.8.0.0/tools/core/de/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.8.0.0/tools/core/es/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.8.0.0/tools/core/fr/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.8.0.0/tools/core/it/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.8.0.0/tools/core/ja/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.8.0.0/tools/core/ko/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.8.0.0/tools/core/Microsoft.Build.Tasks.Git.dll
packages/Microsoft.Build.Tasks.Git.8.0.0/tools/core/pl/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.8.0.0/tools/core/pt-BR/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.8.0.0/tools/core/ru/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.8.0.0/tools/core/tr/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.8.0.0/tools/core/zh-Hans/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.8.0.0/tools/core/zh-Hant/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.8.0.0/tools/net472/cs/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.8.0.0/tools/net472/de/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.8.0.0/tools/net472/es/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.8.0.0/tools/net472/fr/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.8.0.0/tools/net472/it/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.8.0.0/tools/net472/ja/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.8.0.0/tools/net472/ko/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.8.0.0/tools/net472/Microsoft.Build.Tasks.Git.dll
packages/Microsoft.Build.Tasks.Git.8.0.0/tools/net472/pl/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.8.0.0/tools/net472/pt-BR/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.8.0.0/tools/net472/ru/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.8.0.0/tools/net472/System.Collections.Immutable.dll
packages/Microsoft.Build.Tasks.Git.8.0.0/tools/net472/tr/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.8.0.0/tools/net472/zh-Hans/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.8.0.0/tools/net472/zh-Hant/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.SourceLink.Common.8.0.0/.signature.p7s
packages/Microsoft.SourceLink.Common.8.0.0/build/InitializeSourceControlInformation.targets
packages/Microsoft.SourceLink.Common.8.0.0/build/Microsoft.SourceLink.Common.props
packages/Microsoft.SourceLink.Common.8.0.0/build/Microsoft.SourceLink.Common.targets
packages/Microsoft.SourceLink.Common.8.0.0/buildMultiTargeting/Microsoft.SourceLink.Common.props
packages/Microsoft.SourceLink.Common.8.0.0/buildMultiTargeting/Microsoft.SourceLink.Common.targets
packages/Microsoft.SourceLink.Common.8.0.0/Icon.png
packages/Microsoft.SourceLink.Common.8.0.0/Microsoft.SourceLink.Common.8.0.0.nupkg
packages/Microsoft.SourceLink.Common.8.0.0/tools/core/cs/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.8.0.0/tools/core/de/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.8.0.0/tools/core/es/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.8.0.0/tools/core/fr/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.8.0.0/tools/core/it/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.8.0.0/tools/core/ja/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.8.0.0/tools/core/ko/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.8.0.0/tools/core/Microsoft.SourceLink.Common.dll
packages/Microsoft.SourceLink.Common.8.0.0/tools/core/pl/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.8.0.0/tools/core/pt-BR/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.8.0.0/tools/core/ru/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.8.0.0/tools/core/tr/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.8.0.0/tools/core/zh-Hans/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.8.0.0/tools/core/zh-Hant/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.8.0.0/tools/net472/cs/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.8.0.0/tools/net472/de/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.8.0.0/tools/net472/es/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.8.0.0/tools/net472/fr/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.8.0.0/tools/net472/it/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.8.0.0/tools/net472/ja/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.8.0.0/tools/net472/ko/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.8.0.0/tools/net472/Microsoft.SourceLink.Common.dll
packages/Microsoft.SourceLink.Common.8.0.0/tools/net472/pl/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.8.0.0/tools/net472/pt-BR/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.8.0.0/tools/net472/ru/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.8.0.0/tools/net472/tr/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.8.0.0/tools/net472/zh-Hans/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.8.0.0/tools/net472/zh-Hant/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.GitHub.8.0.0/.signature.p7s
packages/Microsoft.SourceLink.GitHub.8.0.0/build/Microsoft.SourceLink.GitHub.props
packages/Microsoft.SourceLink.GitHub.8.0.0/build/Microsoft.SourceLink.GitHub.targets
packages/Microsoft.SourceLink.GitHub.8.0.0/buildMultiTargeting/Microsoft.SourceLink.GitHub.props
packages/Microsoft.SourceLink.GitHub.8.0.0/buildMultiTargeting/Microsoft.SourceLink.GitHub.targets
packages/Microsoft.SourceLink.GitHub.8.0.0/Icon.png
packages/Microsoft.SourceLink.GitHub.8.0.0/Microsoft.SourceLink.GitHub.8.0.0.nupkg
packages/Microsoft.SourceLink.GitHub.8.0.0/tools/core/cs/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.8.0.0/tools/core/de/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.8.0.0/tools/core/es/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.8.0.0/tools/core/fr/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.8.0.0/tools/core/it/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.8.0.0/tools/core/ja/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.8.0.0/tools/core/ko/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.8.0.0/tools/core/Microsoft.SourceLink.GitHub.dll
packages/Microsoft.SourceLink.GitHub.8.0.0/tools/core/pl/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.8.0.0/tools/core/pt-BR/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.8.0.0/tools/core/ru/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.8.0.0/tools/core/tr/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.8.0.0/tools/core/zh-Hans/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.8.0.0/tools/core/zh-Hant/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.8.0.0/tools/net472/cs/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.8.0.0/tools/net472/de/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.8.0.0/tools/net472/es/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.8.0.0/tools/net472/fr/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.8.0.0/tools/net472/it/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.8.0.0/tools/net472/ja/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.8.0.0/tools/net472/ko/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.8.0.0/tools/net472/Microsoft.SourceLink.GitHub.dll
packages/Microsoft.SourceLink.GitHub.8.0.0/tools/net472/pl/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.8.0.0/tools/net472/pt-BR/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.8.0.0/tools/net472/ru/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.8.0.0/tools/net472/tr/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.8.0.0/tools/net472/zh-Hans/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.8.0.0/tools/net472/zh-Hant/Microsoft.SourceLink.GitHub.resources.dll
.vs/MobileApp/v15/.suo
